<!-- begin::Header -->
<div
  class="card-header border-0"
  style="display: flex; justify-content: space-between"
>
  <h3
    class="card-title align-items-start flex-column"
    style="line-height: 2.2; margin: 0px !important"
  >
    <span class="card-label fw-bolder fs-3">7 Days Sales</span>
  </h3>
  <div class="card-toolbar"></div>
</div>
<!-- end::Header -->
<!-- begin::Body -->
<div class="card-body bg-white py-3">
  <div class="tab-content">
    <!-- begin::Tap pane -->
    <div
      class="tab-pane fade"
      [ngClass]="activeClass('kt_table_widget_13_tab_1')"
      id="kt_table_widget_13_tab_1"
    >
      <div class="table-responsive">
        <div class="alert alert-info" *ngIf="sevenDaysList == null">
          No Sales in past 7 days.
        </div>
        <table
          class="table table-hover table table-striped table-bordered"
          *ngIf="sevenDaysList != null"
        >
          <!-- begin::Table head -->

          <thead *ngIf="sevenDaysList != null">
            <tr>
              <th scope="col" class="p-2 min-w-110px"><b>SKU</b></th>
              <th scope="col" class="p-2 min-w-110px"><b>Title</b></th>
              <th scope="col" class="p-2 min-w-110px"><b>Category</b></th>
              <th scope="col" class="p-2 min-w-110px"><b>Minimum Level</b></th>
            </tr>
          </thead>
          <!-- end::Table head -->
          <!-- begin::Table body -->
          <tbody *ngIf="sevenDaysList != null">
            <!-- Use *ngFor to iterate over sevenDaysList -->
            <tr *ngFor="let order of sevenDaysList">
              <td class="p-2">{{ order.SKU }}</td>
              <td class="p-2">{{ order.Title }}</td>
              <td class="p-2">{{ order.Category }}</td>
              <td class="p-2">{{ order.MinimumLevel }}</td>
            </tr>

            <!-- end of *ngFor loop -->
          </tbody>
          <!-- end::Table body -->
        </table>
      </div>
      <!-- end::Table -->
    </div>
    <!-- end::Tap pane -->
    <!-- begin::Tap pane -->
    <div
      class="tab-pane fade"
      [ngClass]="activeClass('kt_table_widget_13_tab_2')"
      id="kt_table_widget_15_tab_2"
    >
      <!-- begin::Table container -->
      <div class="table-responsive">
        <!-- begin::Table -->
        <table
          class="table table-row-dashed table-row-gray-200 align-middle gs-0 gy-4"
        >
          <!-- begin::Table head -->
          <thead>
            <tr class="border-0">
              <th class="p-0 w-50px"></th>
              <th class="p-0 min-w-150px"></th>
              <th class="p-0 min-w-140px"></th>
              <th class="p-0 min-w-110px"></th>
              <th class="p-0 min-w-50px"></th>
            </tr>
          </thead>
          <!-- end::Table head -->
          <!-- begin::Table body -->
          <tbody>
            <!-- Use *ngFor to iterate over topProductsList -->
            <tr *ngFor="let order of sevenDaysList">
              <!-- <td>
                <div class="symbol symbol-45px me-2">
                  <span class="symbol-label">
                    <img [src]="product.symbol" class="h-50 align-self-center" alt="" />
                  </span>
                </div>
              </td> -->
              <td class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                {{ order.SKU }}
                <!-- <span class="text-muted fw-bold d-block">{{ product.description }}</span> -->
              </td>
              <td class="text-end text-muted fw-bold">{{ order.Title }}</td>
              <!-- <td class="text-end">
                <span [class]="'badge badge-light-' + product.statusClass">{{ product.status }}</span>
              </td> -->
              <!-- <td class="text-end">
                <a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
                  <app-keenicon name="arrow-right" class="fs-2"></app-keenicon>
                </a>
              </td> -->
            </tr>
            <!-- end of *ngFor loop -->
          </tbody>
          <!-- end::Table body -->
        </table>
      </div>
      <!-- end::Table -->
    </div>
    <!-- end::Tap pane -->
    <!-- begin::Tap pane -->
  </div>
  <!-- end::Body -->
</div>
