<div class="app-body login-page-module">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form
                  #rf="ngForm"
                  novalidate
                  (ngSubmit)="rf.form.valid && onSubmit(rf)"
                  *ngIf="isDisplayForm"
                >
                  <h1 class="outer-head-text">
                    {{ "RESET_PASSWORD" | translate }}
                  </h1>
                  <div class="form-group row">
                    <label for="password" class="col-md-12"
                      >{{ "Email" }} <span class="asterisk_input"></span
                    ></label>
                    <div class="col-md-12 col-xs-12">
                      <mat-form-field appearance="outline" class="input-box">
                        <mat-label>{{ "Email" }}</mat-label>
                        <input
                          matInput
                          [(ngModel)]="model.email"
                          type="email"
                          name="email"
                          placeholder="{{ 'EMAIL' | translate }}"
                          required
                          #email="ngModel"
                          required
                        />
                        <mat-error
                          *ngIf="email.errors?.email && rf.submitted"
                          >{{
                            "PLEASE_ENTER_VALID_EMAIL" | translate
                          }}</mat-error
                        >
                        <mat-error
                          *ngIf="email.errors?.required && rf.submitted"
                          >{{ "PLEASE_ENTER_EMAIL" | translate }}</mat-error
                        >
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="password" class="col-md-12"
                      >{{ "NEW_PASSWORD" | translate }}
                      <span class="asterisk_input"></span
                    ></label>
                    <div class="col-md-12 col-xs-12">
                      <div class="view-pass">
                        <mat-form-field appearance="outline" class="input-box">
                          <mat-label>{{
                            "NEW_PASSWORD" | translate
                          }}</mat-label>
                          <input
                            matInput
                            [type]="showPass ? 'text' : 'password'"
                            name="password"
                            [pattern]="CommonRegx.PasswordRegx"
                            class="form-control"
                            placeholder="{{ 'NEW_PASSWORD' | translate }}"
                            [(ngModel)]="model.password"
                            required
                            #password="ngModel"
                          />
                          <button
                            type="button"
                            class="input-with-icon"
                            mat-icon-button
                            matSuffix
                            (click)="showPass = !showPass"
                          >
                            <mat-icon>{{
                              showPass ? "visibility_off" : "visibility"
                            }}</mat-icon>
                          </button>
                          <mat-error
                            *ngIf="password.errors?.required && rf.submitted"
                            >{{
                              "PLEASE_ENTER_PASSWORD" | translate
                            }}</mat-error
                          >
                          <mat-error
                            *ngIf="password.errors?.pattern && rf.submitted"
                            >{{
                              "PLEASE_ENTER_VALID_PASSWORD" | translate
                            }}</mat-error
                          >
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="password" class="col-md-12"
                      >{{ "CONFIRM_PASSWORD" | translate }}
                      <span class="asterisk_input"></span
                    ></label>
                    <div class="col-md-12 col-xs-12">
                      <mat-form-field appearance="outline" class="input-box">
                        <mat-label>{{
                          "CONFIRM_PASSWORD" | translate
                        }}</mat-label>
                        <input
                          [type]="showConfPass ? 'text' : 'password'"
                          class="form-control"
                          required
                          [(ngModel)]="model.cpassword"
                          #confirm_pass="ngModel"
                          name="confirm_pass"
                          [pattern]="model.conf_pass_match"
                          placeholder="{{ 'CONFIRM_PASSWORD' | translate }}"
                          matInput
                        />
                        <button
                          type="button"
                          class="input-with-icon"
                          mat-icon-button
                          matSuffix
                          (click)="showConfPass = !showConfPass"
                        >
                          <mat-icon>{{
                            showConfPass ? "visibility_off" : "visibility"
                          }}</mat-icon>
                        </button>
                        <mat-error
                          *ngIf="rf.submitted && confirm_pass.errors?.required"
                          >{{
                            "PLEASE_ENTER_CONFIRM_PASS" | translate
                          }}</mat-error
                        >
                        <mat-error
                          *ngIf="rf.submitted && confirm_pass.errors?.pattern"
                          >{{
                            "PLEASE_ENTER_VALLID_CONFIRM_PASS" | translate
                          }}</mat-error
                        >
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="divider"></div>
                  <div class="row">
                    <div class="col-md-12 pull-right">
                      <button
                        type="submit"
                        [disabled]="isLoading"
                        class="btn btn-primary btn-sm mx-2 pull-right"
                      >
                        <ng-container *ngIf="isLoading">
                          <span
                            class="indicator-progress"
                            [style.display]="'block'"
                          >
                            {{ "PLEASE_WAIT" | translate }}
                            <span
                              class="spinner-border spinner-border-sm align-middle ms-2"
                            ></span>
                          </span>
                        </ng-container>
                        <ng-container *ngIf="!isLoading">
                          <span class="indicator-label">{{
                            "RESET_PASSWORD" | translate
                          }}</span>
                        </ng-container>
                      </button>
                      <button
                        type="button"
                        class="btn btn-warning btn-sm mx-2 pull-right"
                        [routerLink]="['/login']"
                      >
                        {{ "CANCEL" | translate }}
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
