<div class="row">
  <div class="col-md-8">
    <charts-dashboard-total-order></charts-dashboard-total-order>
  </div>
  <div class="col-md-4">
    <card-external-links></card-external-links>
  </div>
</div>
<div class="row mt-5">
  <div class="col-md-12">
    <app-engage-widget10
      class="col-xxl-6"
      cssClass="h-md-100"
    ></app-engage-widget10>
  </div>
</div>
<div class="row mt-5">
  <div class="col-md-6">
    <app-tables-widget16 class=""></app-tables-widget16>
  </div>
  <div class="col-md-6">
    <app-tables-widget13></app-tables-widget13>
  </div>
</div>
<div class="row mt-5">
  <div class="col-md-12">
    <app-cards-widget18
      cssClass="h-xl-100"
      image="./assets/media/stock/600x600/img-65.jpg"
    ></app-cards-widget18>
  </div>
</div>
<div class="row mt-5">
  <div class="col-md-12">
    <app-tables-widget12></app-tables-widget12>
  </div>
</div>
<app-loader></app-loader>
